.F {
   text-align: center;
   
}

.G{
   text-align: center;
}
 
.H {
   text-align: center;
}

.I{
   text-align: center;
}

.J{
   text-align: center;
}
.O
{
   text-align: center;
   background-color: aquamarine;
margin: 0px 0px;
 padding: 200px;
}

.Q{
   text-align: center;
   
}
.group1{
   margin:0px 0px ;
   padding-right: 200px;
   padding-left: 200px;
   color: aquamarine;
}
.group2{
   padding-top: 50px;
}
.group3{
   margin:50px 0px;
   padding-left: 300px;
   padding-right: 300px;
}
.group9{
   padding-top: 30px;
   padding-bottom: 20px;
}